.nav-block {
  text-align: center;
}

.font-navigation {
  font-size: 15px;
  color: #fff;
  font-family: Verdana;
  font-weight: bold;
}

.nav-el-block {
  background-color: #3366ff;
  border-right: 1px solid #1d1d1d;
  line-height: 35px;
}

.nav-el-block:hover {
  background-color: #192e80;
}